# TED Talks Natural Language Processing
A Clustering Based Method to Extract Topics and Deeper Insights from Ted Talk Transcripts

In [1]:
# Import libraries 
import numpy as np
import pandas as pd
import nltk
import re
import os
import codecs
from sklearn import feature_extraction
import seaborn as sns
import warnings
import matplotlib.pyplot as plt

# Download stopwords
# nltk.download('stopwords')

# Configure display
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 30
sns.set()
warnings.filterwarnings('ignore')
plt.ylim(0, 1)

# Configure run
%matplotlib inline

## Import and Clean Data

In [2]:
# Import data
ted_main = pd.read_csv('ted_main.csv', sep=',')
display(ted_main.head(2))

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [3]:
ted_transcripts = pd.read_csv('transcripts.csv', sep=',')
display(ted_transcripts.head(3))

,transcript,url
0,Good morning. How are you?(Laughter)It's been ...,https://www.ted.com/talks/ken_robinson_says_sc...
1,"Thank you so much, Chris. And it's truly a gre...",https://www.ted.com/talks/al_gore_on_averting_...
2,"(Music: ""The Sound of Silence,"" Simon & Garfun...",https://www.ted.com/talks/david_pogue_says_sim...

In [4]:
ted = ted_main.merge(ted_transcripts, left_on='url', right_on='url', how='outer')
ted = ted.dropna()

del ted_main, ted_transcripts

display(ted.head(2))

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Good morning. How are you?(Laughter)It's been ...
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,"Thank you so much, Chris. And it's truly a gre..."

## Stemming, Stopwords, Tokens

In [6]:
stopwords = nltk.corpus.stopwords.words('english')
print(stopwords[0:10])

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [7]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

## Helper Functions

In [8]:
def tokenize_stem(text): 
    # Tokenize by sentence, then by word
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # Filter any tokens not containing letters
    for token in tokens: 
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems 

def tokenize(text):
    # First tokenize by sentence, then by word 
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    # Filter out any tokens not containing letters 
    for token in tokens: 
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

In [9]:
vocab_stemmed = []
vocab_tokenized = [] 

for title in ted['transcript']:
    words_stemmed = tokenize_stem(title)
    vocab_stemmed.extend(words_stemmed)
    
    words_tokenized = tokenize(title)
    vocab_tokenized.extend(words_tokenized)

In [10]:
vocab_df = pd.DataFrame({'words': vocab_tokenized}, index = vocab_stemmed)

## TF-IDF Matrix & Document Similarity

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Define vectorizer params
tfidf_vectorizer = TfidfVectorizer(max_df = 0.80, max_features=200000,
                                  min_df=0.2, stop_words='english',
                                  use_idf=True, tokenizer=tokenize_stem, ngram_range=(1,3))

tfidf_matrix = tfidf_vectorizer.fit_transform(ted['transcript'])

display(tfidf_matrix.shape)

(2461, 434)

In [12]:
terms = tfidf_vectorizer.get_feature_names()

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf_matrix)

In [45]:
# Clustering reccomendations

sim_df = pd.DataFrame(cosine_similarity(tfidf_matrix))
# display(sim_df[0].sort_values(ascending=False))

0       1.000000
663     0.734907
1418    0.698718
1409    0.606966
2229    0.597086
557     0.557700
274     0.528512
1339    0.522329
997     0.515045
1111    0.513217
1110    0.513217
21      0.513194
1962    0.512853
2027    0.512513
2253    0.507814
1567    0.501695
578     0.500815
712     0.500107
1363    0.499174
603     0.498560
792     0.498050
444     0.497452
1633    0.497140
14      0.496407
685     0.495646
1629    0.493363
416     0.490579
452     0.488832
6       0.486557
177     0.477922
364     0.475827
1416    0.473847
1827    0.471318
405     0.471195
96      0.470296
727     0.470078
639     0.468149
2356    0.467823
486     0.466097
1351    0.466046
1504    0.463509
880     0.462571
1359    0.462457
2       0.461748
1317    0.458879
2131    0.458441
245     0.457880
309     0.457116
2259    0.456875
1737    0.455180
1880    0.450330
702     0.446560
2186    0.444283
1105    0.442303
1370    0.441960
95      0.440787
302     0.440465
745     0.440438
1330    0.440269
2361    0.439909
2198    0.439071
392     0.439015
1119    0.438140
771     0.437889
1288    0.437202
147     0.436672
508     0.436437
1842    0.435891
149     0.435820
1664    0.433839
1237    0.432568
1820    0.432388
1832    0.431963
490     0.429966
800     0.428897
1       0.428113
2161    0.428071
1562    0.427267
1565    0.425716
1058    0.425534
1730    0.425282
259     0.425242
2145    0.423888
2146    0.422265
1707    0.421851
831     0.419938
374     0.419812
5       0.418348
2074    0.418201
715     0.417775
1100    0.417316
178     0.416870
254     0.416369
2388    0.414345
285     0.414060
1042    0.413870
1940    0.413599
2243    0.412860
1834    0.412647
1022    0.412123
806     0.411759
1937    0.410195
242     0.409254
58      0.408848
1369    0.408803
2459    0.408520
2320    0.408455
1870    0.408095
612     0.407164
628     0.404685
1581    0.404178
1307    0.403435
847     0.401080
430     0.400795
1016    0.400732
48      0.399789
1958    0.399336
1523    0.399159
219     0.399010
1711    0.398209
1172    0.398076
898     0.397841
2393    0.397573
43      0.396819
784     0.395820
443     0.395150
851     0.394705
449     0.394603
2377    0.394433
200     0.393977
67      0.393922
1272    0.393839
1639    0.393158
983     0.392605
2103    0.392551
2136    0.392117
510     0.391848
395     0.391430
2382    0.390652
2266    0.390224
2362    0.389691
1433    0.388571
2367    0.388417
2353    0.387620
821     0.386584
781     0.386387
370     0.386272
1758    0.385004
130     0.384918
558     0.384767
232     0.383033
406     0.382974
657     0.381709
421     0.380876
1931    0.379874
1200    0.379827
129     0.378898
255     0.378810
485     0.377872
169     0.377291
2430    0.377186
1385    0.377006
2403    0.376776
1417    0.375929
1928    0.375620
1115    0.375558
630     0.375299
1521    0.375232
681     0.373614
2192    0.373545
1247    0.372744
1450    0.372702
27      0.372629
15      0.372328
599     0.372249
28      0.371982
827     0.371871
197     0.371823
275     0.371609
2322    0.369953
331     0.369833
1389    0.369240
879     0.368690
575     0.368635
191     0.368555
871     0.368386
2390    0.368208
352     0.367959
869     0.367608
1156    0.367464
315     0.366983
2345    0.366951
2053    0.366925
337     0.366742
1970    0.366573
223     0.366558
2041    0.366210
2201    0.365912
175     0.365536
2254    0.365270
296     0.365017
2005    0.364455
1925    0.364215
505     0.364097
848     0.363635
1652    0.363619
1666    0.363532
779     0.363135
1078    0.362588
231     0.362299
949     0.361851
1065    0.361499
1814    0.361494
2072    0.361404
1142    0.361032
759     0.360797
1915    0.360219
349     0.360027
8       0.359726
1911    0.359583
975     0.359495
133     0.359184
144     0.358871
1956    0.358219
153     0.358165
241     0.357569
1782    0.357301
1308    0.356992
1129    0.356751
1031    0.356465
1719    0.356212
354     0.356115
1088    0.356113
596     0.355954
61      0.355734
2307    0.355709
1021    0.355318
205     0.355275
706     0.354923
1869    0.354727
1231    0.354672
2337    0.354547
46      0.354073
1677    0.353981
47      0.353567
2268    0.353562
131     0.353374
325     0.352754
9       0.352695
584     0.352686
1419    0.352323
252     0.352267
625     0.352221
151     0.352148
1197    0.351715
1256    0.351522
424     0.351135
2276    0.350893
1461    0.350624
1395    0.350616
1099    0.350503
126     0.349960
960     0.349690
1123    0.349655
2330    0.348355
1392    0.348347
289     0.348272
378     0.348225
2290    0.348093
2061    0.347313
276     0.347279
143     0.346386
42      0.345962
1438    0.345777
202     0.345731
2080    0.345497
1213    0.345487
1082    0.345123
932     0.345015
1482    0.345011
1066    0.344879
375     0.344845
333     0.344692
1904    0.343963
794     0.343846
525     0.343670
22      0.343670
1857    0.343590
2250    0.343565
1294    0.343543
376     0.343541
2241    0.343328
344     0.343008
1260    0.342815
2350    0.342705
1314    0.342639
2332    0.342295
2409    0.341703
2087    0.341553
1700    0.341530
447     0.341529
1621    0.341282
2431    0.341136
1183    0.341049
1876    0.341007
1682    0.340923
1344    0.340798
38      0.340754
2288    0.340693
87      0.340329
39      0.340224
1576    0.340095
65      0.339977
2078    0.339487
1829    0.339305
894     0.338975
1341    0.338816
2234    0.338208
1164    0.338087
515     0.337726
244     0.337408
605     0.337387
1127    0.337364
2441    0.337323
401     0.336998
920     0.336855
834     0.336473
2124    0.336247
327     0.336209
161     0.336038
70      0.335918
670     0.335854
2313    0.335492
1295    0.335459
1282    0.335173
1575    0.335157
506     0.334863
2128    0.334858
728     0.334755
2334    0.334751
1277    0.334581
1577    0.334541
1894    0.334442
1651    0.334258
861     0.334109
1933    0.333927
855     0.333818
995     0.333733
1865    0.333077
163     0.332697
1048    0.332611
1171    0.332455
2098    0.331565
1365    0.331480
360     0.331201
1793    0.330983
24      0.330576
1508    0.330530
404     0.330456
1080    0.330447
1355    0.330287
170     0.330137
2443    0.329680
2113    0.329677
90      0.329165
2384    0.329159
1952    0.328319
291     0.327848
816     0.327565
1638    0.327370
2341    0.327201
903     0.327159
2422    0.326965
2421    0.326650
969     0.326487
201     0.326368
1502    0.326318
1830    0.326252
399     0.326190
310     0.325631
530     0.325221
811     0.325042
20      0.325026
2447    0.324876
1181    0.324704
1275    0.324533
1923    0.324394
2217    0.324290
1544    0.324083
2318    0.323638
1586    0.323503
19      0.323478
134     0.323463
1128    0.323408
1464    0.322821
2310    0.322468
451     0.322420
1906    0.322339
674     0.322017
52      0.321989
875     0.321526
434     0.321470
2093    0.321324
2312    0.321315
256     0.321018
517     0.320704
1253    0.320653
974     0.320559
2054    0.320555
1397    0.320552
1408    0.320448
1930    0.320250
2112    0.320134
2433    0.320121
2110    0.319140
1337    0.319110
1364    0.319066
807     0.318884
1285    0.318828
440     0.318597
2335    0.318561
1239    0.318249
235     0.318237
914     0.317857
755     0.317808
1186    0.317761
2183    0.317683
372     0.317624
141     0.317536
619     0.317484
357     0.317359
593     0.317057
215     0.316904
1751    0.316830
292     0.316777
2076    0.316757
778     0.316311
66      0.316066
1836    0.315917
295     0.315879
1151    0.315703
1487    0.315687
1354    0.315251
321     0.315103
226     0.314451
1296    0.314341
1598    0.314174
1007    0.314159
882     0.313707
30      0.313524
55      0.313288
1222    0.313193
647     0.312997
1768    0.312953
113     0.312894
1258    0.312186
1899    0.312008
363     0.311952
491     0.311871
1101    0.311851
1401    0.311791
1891    0.311714
1612    0.311417
1780    0.311265
1811    0.311020
2018    0.310817
1531    0.310811
1580    0.310454
634     0.310397
545     0.310283
1173    0.310262
229     0.310228
122     0.310068
1778    0.309847
2339    0.309579
1764    0.309301
791     0.309211
11      0.309090
795     0.308956
2357    0.308832
280     0.308813
1897    0.308159
227     0.308032
2396    0.307861
269     0.307804
2251    0.307588
1859    0.307089
803     0.306607
601     0.306552
1703    0.306511
729     0.306475
1109    0.306414
1108    0.306414
1795    0.306389
1267    0.306274
142     0.306266
1995    0.305868
2346    0.305642
286     0.305581
57      0.305456
          ...
979     0.165194
1900    0.165103
2200    0.164910
694     0.164821
1320    0.164589
567     0.164556
1604    0.164464
403     0.164341
448     0.164273
2099    0.164062
1411    0.163972
748     0.163949
1124    0.163856
1534    0.163773
167     0.163705
2286    0.163691
1003    0.163625
1177    0.163551
1041    0.163180
1898    0.163034
824     0.162679
1299    0.162445
2226    0.162381
1675    0.162303
1068    0.162172
1663    0.162103
1242    0.162095
221     0.162031
689     0.161948
2387    0.161858
1497    0.161783
2369    0.161779
922     0.161772
662     0.161700
1846    0.161573
432     0.161297
2303    0.161290
1701    0.161201
1102    0.161146
1120    0.161124
1500    0.161087
2456    0.161013
418     0.160989
1791    0.160971
560     0.160880
1465    0.160777
553     0.160647
773     0.160625
2412    0.160536
1752    0.160253
2193    0.160246
1657    0.160152
2370    0.160105
298     0.159762
655     0.159702
1714    0.159680
152     0.159666
1136    0.159606
104     0.159365
2347    0.159347
2343    0.159303
1218    0.159248
2323    0.159133
1560    0.158961
592     0.158899
2401    0.158571
214     0.158509
1786    0.158011
835     0.158007
1113    0.157828
822     0.157799
2116    0.157681
2097    0.157345
1665    0.157207
2034    0.157206
731     0.157152
1375    0.157143
203     0.157045
1356    0.156812
954     0.156781
1478    0.156640
2047    0.156539
138     0.156476
148     0.156435
972     0.156418
2056    0.156394
1141    0.156346
1804    0.156199
2197    0.156008
1851    0.156000
585     0.155797
909     0.155703
1641    0.155611
85      0.155549
1966    0.155442
2458    0.155401
2302    0.155393
1746    0.155292
2165    0.155095
1457    0.155093
81      0.155007
487     0.154627
1553    0.154546
1601    0.154505
98      0.154388
328     0.154365
990     0.154206
1221    0.153969
758     0.153857
1571    0.153801
1579    0.153369
394     0.153213
49      0.153148
1858    0.153035
652     0.153005
2070    0.152973
1000    0.152971
780     0.152934
723     0.152912
1543    0.152764
1017    0.152692
754     0.152531
830     0.152449
777     0.152138
437     0.152085
358     0.152011
717     0.151985
1539    0.151829
815     0.151542
1304    0.151478
2248    0.151462
1138    0.151425
1942    0.151190
2177    0.151124
1653    0.150892
1522    0.150742
2024    0.150620
1973    0.150566
540     0.150495
695     0.150230
1241    0.150170
1643    0.150139
1139    0.149942
1306    0.149930
1545    0.149901
208     0.149893
2210    0.149843
75      0.149715
1803    0.149707
439     0.149508
474     0.149443
1092    0.149353
2092    0.149189
1618    0.149082
1045    0.149022
164     0.148965
299     0.148945
916     0.148469
1887    0.148238
264     0.147885
1143    0.147861
1550    0.147826
2391    0.147750
2069    0.147622
1903    0.147578
137     0.147468
339     0.147464
496     0.147459
80      0.147444
1863    0.147018
2040    0.146867
1382    0.146850
1023    0.146414
568     0.146380
1201    0.146321
1015    0.146291
2152    0.146228
2020    0.146215
1002    0.146189
2271    0.146010
1669    0.145947
2230    0.145871
1658    0.145858
994     0.145837
1441    0.145812
661     0.145798
1160    0.145768
1855    0.145648
272     0.145596
527     0.145549
1346    0.145362
306     0.145352
1517    0.145277
1458    0.144792
1250    0.144537
1801    0.144449
1394    0.144430
158     0.144417
1079    0.144365
1809    0.144349
2052    0.144336
1874    0.144165
1483    0.144092
1283    0.144031
182     0.143942
2407    0.143857
989     0.143688
2049    0.143587
751     0.143367
1525    0.143366
924     0.143140
1020    0.143127
1649    0.142969
2115    0.142846
1249    0.142486
692     0.142421
1038    0.142202
472     0.141660
581     0.141439
1607    0.141193
467     0.141177
1776    0.140836
1291    0.140758
1057    0.140611
996     0.140607
1587    0.140545
1590    0.140541
1828    0.140153
1845    0.140105
928     0.139887
453     0.139878
450     0.139763
507     0.139524
1860    0.139335
2160    0.139197
999     0.139184
2101    0.138812
1520    0.138616
1547    0.137983
433     0.137843
2263    0.137751
2031    0.137741
1740    0.137729
1499    0.137638
2424    0.137414
958     0.137349
513     0.137129
733     0.137020
107     0.136933
788     0.136568
2438    0.136500
237     0.136438
1114    0.136405
899     0.136375
1083    0.136295
742     0.136053
1167    0.135882
1799    0.135856
381     0.135754
266     0.135369
2035    0.135102
2429    0.135035
2105    0.134917
1243    0.134907
93      0.134863
735     0.134580
2211    0.134373
586     0.134218
1877    0.133832
1606    0.133765
626     0.133723
884     0.133350
277     0.133313
860     0.133292
1175    0.133215
359     0.133149
1051    0.132893
1794    0.132837
422     0.132786
478     0.132764
1773    0.132417
1715    0.132368
1632    0.132254
2004    0.131948
1816    0.131856
1270    0.131463
456     0.131414
2013    0.130756
1806    0.130539
1251    0.130469
1892    0.130332
2364    0.130030
1637    0.129743
267     0.129621
554     0.129544
2415    0.129455
1155    0.129321
611     0.129219
1352    0.128968
1040    0.128659
1844    0.128642
459     0.128461
933     0.128444
679     0.128360
1825    0.127988
1939    0.127901
1554    0.127440
1982    0.127412
1628    0.127251
176     0.127241
659     0.127199
877     0.127099
1542    0.126922
1428    0.126907
1640    0.126432
529     0.126426
951     0.126221
2191    0.126215
1976    0.126111
1797    0.125950
1434    0.125932
343     0.125890
939     0.125859
1597    0.125695
2173    0.125610
1578    0.125134
2405    0.124681
1755    0.124629
534     0.124584
1345    0.124540
1264    0.123813
1103    0.123719
1708    0.123542
1514    0.123256
946     0.123156
1767    0.122712
1190    0.122409
1513    0.122319
1298    0.122248
1810    0.122248
2291    0.121911
2381    0.121583
2148    0.121327
1769    0.121321
734     0.121142
606     0.121121
1070    0.120849
156     0.120714
2336    0.120561
1085    0.120406
1741    0.119889
923     0.119852
1833    0.119152
1890    0.119081
1182    0.118620
1819    0.118594
1536    0.118529
1532    0.118411
258     0.118350
1946    0.118309
518     0.118197
1349    0.117851
1815    0.117807
206     0.117806
986     0.117220
539     0.116612
420     0.116490
2379    0.116476
2354    0.116383
1444    0.116276
204     0.116259
1315    0.116143
1650    0.116064
2108    0.116013
1398    0.115901
640     0.115274
1230    0.114784
765     0.114640
2202    0.114458
1075    0.114312
1912    0.114119
1331    0.113315
2127    0.113149
1144    0.113134
1645    0.113006
1279    0.112956
1770    0.112338
2033    0.112167
1548    0.111920
1381    0.111413
2123    0.110778
2048    0.109685
1732    0.109178
1884    0.108816
1353    0.108607
841     0.108505
1588    0.108219
2372    0.108130
1205    0.108036
762     0.107949
2314    0.107400
1729    0.107141
110     0.106770
1246    0.106614
373     0.106110
2117    0.106082
1157    0.105900
2413    0.105646
2333    0.105643
635     0.105613
1386    0.105378
2225    0.104363
243     0.104277
1420    0.103653
1549    0.103577
620     0.103005
1001    0.102937
961     0.101553
1475    0.101352
1805    0.101105
772     0.100436
300     0.100417
127     0.100216
2120    0.100117
2295    0.099523
1994    0.099523
402     0.098938
955     0.098781
864     0.098263
872     0.098225
1526    0.097833
2228    0.097506
1584    0.097083
1302    0.097055
2089    0.095634
1511    0.095540
1403    0.095325
966     0.095097
574     0.095059
1198    0.094894
577     0.094519
1388    0.094397
1064    0.094251
234     0.094119
2360    0.093937
2153    0.093909
1313    0.093823
538     0.093112
1838    0.092957
876     0.092478
397     0.092449
938     0.092339
753     0.090166
1885    0.090046
313     0.089310
425     0.089087
1090    0.088930
1059    0.088039
854     0.087637
1718    0.087464
1943    0.086781
1176    0.086504
2025    0.085932
2283    0.085229
1455    0.084641
908     0.084627
1362    0.084627
1792    0.084627
146     0.084627
1170    0.084627
1913    0.084627
522     0.084599
1721    0.084009
1704    0.083724
760     0.083502
224     0.082143
1802    0.081775
886     0.081277
2111    0.078654
457     0.078441
1753    0.078013
1993    0.077869
1744    0.075264
2460    0.074780
1710    0.074198
775     0.073269
2232    0.070899
1327    0.069929
2309    0.069165
636     0.066402
445     0.065163
1796    0.064953
99      0.058265
953     0.057092
850     0.056067
2026    0.052369
101     0.047896
610     0.045966
97      0.042180
1936    0.039824
Name: 0, Length: 2461, dtype: float64

In [53]:
display(ted.iloc[[0]])
display(ted.iloc[[663]])
display(ted.iloc[[1418]])
display(ted.iloc[[1409]])

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Good morning. How are you?(Laughter)It's been ...

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
692,1234,"In this poignant, funny follow-up to his fable...",1008,TED2010,1265414400,57,Ken Robinson,Ken Robinson: Bring on the learning revolution!,1,1274691960,"[{'id': 7, 'name': 'Funny', 'count': 3000}, {'...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Author/educator,"['TED Brain Trust', 'children', 'creativity', ...",Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316,"I was here four years ago, and I remember, at ..."

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
1505,634,Sir Ken Robinson outlines 3 principles crucial...,1151,TED Talks Education,1366675200,43,Ken Robinson,Ken Robinson: How to escape education's death ...,1,1368198532,"[{'id': 21, 'name': 'Unconvincing', 'count': 2...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Author/educator,"['culture', 'education', 'student', 'teaching'...",How to escape education's death valley,https://www.ted.com/talks/ken_robinson_how_to_...,6657858,Thank you very much.I moved to America 12 year...

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,transcript
1496,632,"Rita Pierson, a teacher for 40 years, once hea...",468,TED Talks Education,1367884800,46,Rita Pierson,Rita Pierson: Every kid needs a champion,1,1367589737,"[{'id': 10, 'name': 'Inspiring', 'count': 5946...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Educator,"['children', 'education', 'motivation', 'teach...",Every kid needs a champion,https://www.ted.com/talks/rita_pierson_every_k...,7469445,I have spent my entire life either at the scho...

## K-Means Clustering

In [16]:
from sklearn.cluster import KMeans

k_clusters = 8

km = KMeans(n_clusters=k_clusters)
km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

In [17]:
from sklearn.externals import joblib

# Line below allows us to save our model
# joblib.dump(km, 'doc_cluster_transcript.pkl')

# Line below allows us to load a saved model
km = joblib.load('doc_cluster_transcript.pkl')

clusters = km.labels_.tolist()

In [19]:
# Aggregate data
talks = {'title': ted['title'],
         'tags': ted['tags'],
         'views': ted['views'],
         'cluster': clusters}

ted_clustered = pd.DataFrame(talks)
# display(ted_clustered)

### Interesting Metrics to Explore

In [20]:
# How many talks in each cluster?
pd.Series(clusters).value_counts()

3    747
1    725
0    397
2    207
5    125
7     91
4     86
6     83
dtype: int64

In [21]:
# Comparing clusters with views
grouped = ted_clustered['views'].groupby(ted_clustered['cluster'])

grouped.mean()

cluster
0    1.240805e+06
1    1.413166e+06
2    1.283570e+06
3    2.513875e+06
4    2.337126e+06
5    1.403045e+06
6    1.790145e+06
7    1.112356e+06
Name: views, dtype: float64

Looks like clusters 3 and 4 get the most views by far. We can extract the keywords from these clusters to understand why they get the most views.

### Top Terms Per Cluster
This will give us an idea as to what the main topic of the cluster is

In [22]:
# Order cluster centers by proximity to origin
order_centroids = km.cluster_centers_.argsort()[:, ::-1] 

for i in range(k_clusters):
    print("Cluster " + str(i) + " words:")
    
    for ind in order_centroids[i, :6]:
        print(vocab_df.ix[terms[ind].split(' ')].values.tolist()[0][0].encode('utf-8', 'ignore'))
    print('')
    print('')

Cluster 0 words:
b'country'
b'government'
b'percent'
b'needs'
b'states'
b'global'


Cluster 1 words:
b'actually'
b'designed'
b'technology'
b'human'
b'computer'
b'data'


Cluster 2 words:
b'water'
b'planet'
b'earth'
b'food'
b'energy'
b'life'


Cluster 3 words:
b'laughter'
b'said'
b'say'
b'life'
b'got'
b'love'


Cluster 4 words:
b'brain'
b'actually'
b'human'
b'active'
b'different'
b'right'


Cluster 5 words:
b'women'
b'men'
b'woman'
b'mother'
b'said'
b'story'


Cluster 6 words:
b'music'
b'play'
b'sound'
b'laughter'
b'thank'
b'hears'


Cluster 7 words:
b'city'
b'buildings'
b'space'
b'new'
b'street'
b'designed'

We can look at the top clusters: **Cluster 3** has associated with it words such as life, love, and laughter. 
**Cluster 4** has associated with it words such as brain, different and human. 

We're now starting to form a picture of what these clusters are about.